*{
    box-sizing: border-box;
}

body{
    background-color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.first-div{
    margin-top: 10vh;
    border-radius: 25px;
    background-color: white;
    padding: 40px;
    display: grid;
}

#main-heading {
    font-size: 40px;
    color: darkblue;
    padding-bottom: 20px;
}

#student-button, #admin-button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 10px;
    margin: 12px;
    background-color: rgb(196, 255, 255);
    border: none;
    border-radius: 25px;
}

#student-button:hover, #admin-button:hover {
    font-size: 18px;
    background-color: rgb(178, 217, 217);
}

.admin-sign-in-panel{
    display: none !important;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 5px 25px 25px 25px;
}
.admin-sign-in-panel > input , .student-attendance-panel > input {
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid cyan;
}
#login-heading{
    text-align: center;
   
}
#login-heading-with-closing{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid white; 
}
.student-attendance-panel{
    display: none !important;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    border-radius: 25px;
    padding: 5px 25px 25px 25px;
}

#student-close-panel-button, #admin-close-panel-button{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    background-color: white;
    padding: 0px 12px 0px 12px;
}

#mark-present{
    width: 100%;
    padding: 10px;
    background-color: yellow;
    font-size: 16px;
    font-weight: 800;
    color: darkblue;
    border-radius: 25px;
    border: 2px solid cyan;  
}

#submit-button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: yellow;
    font-size: 16px;
    font-weight: 800;
    color: darkblue;
    border-radius: 25px;
    border: 2px solid cyan; 
}

#mark-present:hover{
    background-color: rgb(223, 223, 0);
}